@model ActivityVerification.Models.IndexViewModel
@{
    ViewBag.Title = "Account Management";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="col-md-12 boxed" style="max-width:50%; margin:10px auto">
<h2>@ViewBag.Title</h2>
<h4>Change your account settings</h4>
<hr />
<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </dd>
</dl>
</div>
